.card {
    background-color: rgba(157, 143, 185, 0.4);
    border-radius: 10px;
    min-height: 150px;
    font-weight: bold;
    padding: 20px;
    position: relative;
    background-size: cover;
    background-position: center center;
}
.Imagen{
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.textos {
    font-family: Lato;
    color: #FFF;
    padding: 0px 0px;
	height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}