<header>
    <div class="headeri">
        <h2 routerLink="dororo" >Dororo</h2>
    </div>
    <div class="headerd">
        <nav>
            <ul>
                <li>
                    <a  routerLink="inicio">Inicio</a>
                </li>
                <li>
                    <a routerLink="combate">Combates
                    </a>
                </li>
                <li>
                    <a routerLink="demonios">Demonios</a>
                </li>
                <li>
                    <a routerLink="formularioDororo">Agregar Objeto</a>
                </li>
            </ul>
        </nav>
    </div>
</header>