
    <div class="Distribucion">
        
        <div class="Imagen-1">
            <img class="Imagen1" height="100%" width="100%" src="https://assets.adnradio.cl/images/2019062759056c68.jpg" >
        </div>
        
        <div class="card">
            <h1 class="titulo"> Dororo </h1>
            <p> Es una serie de anime dirigida por Kazuhiro Furuhashi, escrita por Yasuko Kobayashi y producida por el estudio de animación MAPPA. Se basa en el manga homónimo de Osamu Tezuka.</p>    
        </div>

        <div class="Hyakkimaru">
            <h1>Hyakkimaru </h1>
            <p  class="p-1">
                Hyakkimaru (百 鬼 丸, Hyakkimaru) es el protagonista principal de la serie Dororo. Es un ronin que busca partes de su cuerpo que fueron robadas por demonios y asesinando a dichos demonios. </p>
        </div>

        <div class="Imagen-2">
            <img class="Imagen2" height="100%" width="100%" src="https://w0.peakpx.com/wallpaper/70/522/HD-wallpaper-hyakkimaru-sword-dororo-demon-samurai-anime.jpg">
        </div>
        
        <div class="Imagen-3">
            <img class="Imagen3" height="100%" width="100%" src="https://www.pngitem.com/pimgs/m/148-1487301_dororo-hd-png-download.png">
        </div>

        <div class="Dororo">
            <h1> Dororo  </h1>
            <p>Dororo (どろろ) es el personaje que da título a la serie y es uno de los protagonistas. Es una niña ladrona y huérfana que va de acá para allá deambulando en busca de oportunidades para robar y meterse en líos. Tras ser rescatada por Hyakkimaru, ella le acompaña en su camino.</p>
        </div>
        
    </div>



